
# This file is a part of MRNIU/linux-0.11
# (https://github.com/MRNIU/linux-0.11).
#
# .gitignore for MRNIU/linux-0.11.

*.o
.DS_Store
build
build_aarch64
build_riscv64
build_x86_64
doc/html
cmake-build*
.gdbinit
tools/opensbi/build
.vscode
.idea
3rd
Doxyfile
