
# This file is a part of MRNIU/cmake-kernel
# (https://github.com/MRNIU/cmake-kernel).
#
# .gitignore for MRNIU/cmake-kernel.

*.o
.DS_Store
build
build_aarch64
build_riscv64
build_x86_64
doc/html
cmake-build*
.gdbinit
tools/opensbi/build
.vscode
.idea
3rd
Doxyfile
